header
{
    background-color: rgb(54, 53, 53);
    padding : 25px 25px;
    color : rgb(235, 232, 232);
}
.header-link-display
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-link a
{
    padding-right: 15px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
.header-link a:focus
{
    outline: none;
    text-decoration: none;
}
body
{
    text-align: center;
    min-height : 100vh;
}
.form
{
    margin : 30px 0px;
    background-color: rgb(49, 48, 48);
    border: none;
    border-radius: 5px;
}
.form-heading
{
    padding : 25px 0px;
    font-size: 25px;
    letter-spacing: 0.4px;
    color : whitesmoke;
}
.form-input
{
    border : none;
    margin : 15px 0px;
    border-bottom: 2px solid grey;
    width : 300px;
    height: 45px;
    background-color: rgb(49, 48, 48);
    color : rgb(230, 227, 227);
    font-size: 16px;
    letter-spacing: 0.7px;
    transition: 0.5s all ease-in-out;
}
.form-input::placeholder
{
    font-size: 14px;
    color : rgb(175, 172, 172);
}
.form-input:focus
{
    outline: none;
    border-bottom: 2px solid whitesmoke;
}
.form-input:hover
{
    border-bottom: 2px solid whitesmoke;
}
.form-button
{
    background-color: rgb(107, 103, 103);
    border: none;
    cursor: pointer;
    font-size: 15px;
    padding : 15px 15px;
    color : whitesmoke;
    width: 300px;
    margin : 15px 0px;
    border-radius: 5px;
}
.form-result
{
    color : grey;
    padding : 25px 0px;
    font-size: 26px;
}
.form-result-name
{
    color : grey;
    padding : 20px 0px;
    font-size: 20px;
}
.error-name
{
    font-size: 30px;
    color : rgb(185, 11, 11);
    letter-spacing: 0.8px;
}